@use 'helpers' as *;

:root {
    --color-light: #FFFFFF;
    --color-light-10: #E0E7FF;
    --color-dark: #212121;
    --color-dark-10: #09090B;
    --color-dark-15: #27272A;

    --color-gray-50: #A1A1AA;
    --color-gray-60: #71717A;

    --color-accent: #4F46E5;
    --color-accent-10: #6366F1;

    --border: #{rem(1)} solid var(--color-accent);
    
    --font-family-base: 'Open Sans', sans-serif;

    --container-width: #{rem(1888)};
    --container-padding-x: #{rem(16)};

    --transition-duration: 0.2s;

    @include laptop {
        --container-width: #{rem(1280)};
    }
}